<div id = "create-project">
    <div class = "container-fluid">
        <div class = "row">

            <div class = "col-md-4 col-md-offset-1">
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <h3 style="text-align: center;color: #2e6da4;" class="panel-title">
                            新建项目
                        </h3>
                    </div>
                    <div class = "panel-body">
                        <form id="cretaeProject" class="form-horizontal">
                            <div class="form-group">
                                <label for="project-name" class="col-sm-3 control-label">
                                    项目名称
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="project-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="project-describe">
                                    项目描述
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  id="project-describe">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="manager">
                                    负责人员
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="manager">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="project-img">
                                    上传封面
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="project-img">
                                </div>
                            </div>
                            <hr align=right width=500 color=#987cb9 size=1>
                            <div class="form-group">
                                <button class="col-sm-offset-2 btn btn-primary" (click)="back()">
                                    立即创建
                                </button>
                                <button class="btn btn-default" (click)="back()">
                                    取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class = "col-md-4 col-md-offset-1">
                <div class = "panel panel-default">
                    <div class = "panel-heading">
                        <h3 style="text-align: center;color: #2e6da4;" class="panel-title">
                            更新项目
                        </h3>
                    </div>
                    <div class = "panel-body">
                        <form id="updateProject" class="form-horizontal">
                            <div class="form-group">
                                <label for="uproject-name" class="col-sm-3 control-label">
                                    项目名称
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="uproject-name">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="uproject-describe">
                                    项目描述
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control"  id="uproject-describe">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="umanager">
                                    负责人员
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="umanager">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label" for="uproject-img">
                                    上传封面
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="uproject-img">
                                </div>
                            </div>
                            <hr align=right width=500 color=#987cb9 size=1>
                            <div class="form-group">
                                <button class="col-sm-offset-2 btn btn-primary" (click)="back()">
                                    保存
                                </button>
                                <button class="btn btn-default" (click)="back()">
                                    取消
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

