<div>
    <button type="button" class="btn btn-default" (click)="get()" >HTTP GET</button>
</div>
<div id="devices">
    <div class="container-fluid">
        <div id="device-sum" class="row">
            <div class="col-md-offset-1 col-md-3">
                <div class="panel panel-default">
                    <h3 style="color: royalblue;text-align: center ">
                        <span class="glyphicon glyphicon-star "></span>
                        <span>170</span>
                    </h3>
                    <h3 style="text-align: center">设备总数</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <h3 style="color: royalblue;text-align: center ">
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <span>145</span>
                    </h3>
                    <h3 style="text-align: center">可用设备</h3>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <h3 style="color: royalblue;text-align: center ">
                        <span class="glyphicon glyphicon-fire "></span>
                        <span>25</span>
                    </h3>
                    <h3 style="text-align: center">忙设备</h3>
                </div>
            </div>
        </div>
        <div id="device-list" class="row">
            <div class="col-md-offset-1 col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                           设备列表
                        </h3>
                    </div>
                    <div class = "panel-body">
                        <div *ngFor="let ele of p">
                            <div class="col-md-3" (click)="showDetail(ele)">
                                <div class="thumbnail">
                                    <img src="http://localhost:8080/images/zte.jpg" alt="device-png">
                                    <div style="text-align: center;color: #337ab7" class="caption">
                                        中兴手机{{ele}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            设备详细信息
                        </h3>
                    </div>
                    <div class="panel-body">
                        <div>
                            <label>DeviceID:</label>
                            xxxxx{{seletedP}}
                        </div>
                        <div>
                            <label>设备名称:</label>
                            中兴手机{{seletedP}}
                        </div>
                        <div>
                            <label>Android版本:</label>
                            {{seletedP}}的安卓版本
                        </div>
                        <div>
                            <label>SDK版本:</label>
                            {{seletedP}}的SDK版本
                        </div>
                        <div>
                            <label>分辨率:</label>
                            {{seletedP}}的分辨率
                        </div>
                        <div>
                            <label>CPU型号:</label>
                            {{seletedP}}的cpu型号
                        </div>
                        <div>
                            <label>出厂商:</label>
                            {{seletedP}}的出厂商
                        </div>
                        <div>
                            <label>设备状态:</label>
                            Busy
                        </div>
                        <div>
                            <div class="thumbnail">
                                <img src="images/zte.jpg" alt="device-png">
                                <div style="text-align: center;color: #337ab7" class="caption">
                                    中兴手机{{seletedP}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

