<div id="project-manager">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class = "panel panel-default ">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{projectName}}
                            <span style="margin-left: 40px" class="btn-group">
                                <button type="button" class="btn btn-default" (click)="displayTestPlan()">
                                    <span class="glyphicon glyphicon-time"></span>
                                    测试计划
                                </button>
                                <button type="button" class="btn btn-default"  (click)="displayApkManager()">
                                    <span class="glyphicon glyphicon-open"></span>
                                    Apk管理
                                </button>
                            </span>
                            <span>
                                <button href="#modal_del_project" data-toggle="modal" type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    删除项目
                                </button>
                                <button href="#modal_update_project" data-toggle="modal" type="button" class="btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    项目设置
                                </button>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Apk Manager-->
        <div *ngIf="!testplan" class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class = "panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Apk列表</h2>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="margin-left: 30px">
                                日期
                            </th>
                            <th>
                                项目名称
                            </th>
                            <th>
                                版本
                            </th>
                            <th>
                                描述
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let element of versionDisplay">
                        <tr>
                            <th style="margin-left: 30px">
                                2016-1-3
                            </th>
                            <th>
                                畅行南通
                            </th>
                            <th style="color: dodgerblue">
                                <button>{{element}}</button>
                            </th>
                            <th>
                                {{element}}
                            </th>
                            <th>
                                <span style="color: dodgerblue" class="btn btn-default">下载</span>
                                <span style="color: red" class="btn btn-default">删除</span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li><a (click)="prePage()">&laquo;</a></li>
                            <li><a (click)="getVersions(startPage+1)">{{startPage+1}}</a></li>
                            <li><a (click)="getVersions(startPage+2)">{{startPage+2}}</a></li>
                            <li><a (click)="getVersions(startPage+3)">{{startPage+3}}</a></li>
                            <li><a (click)="getVersions(startPage+4)">{{startPage+4}}</a></li>
                            <li><a (click)="getVersions(startPage+5)">{{startPage+5}}</a></li>
                            <li><a (click)="nextPage()">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Apk Manager>

        <!-- Test Plan-->
        <div *ngIf="testplan" class="row">
            <div class="col-md-offset-1 col-md-10">

                <div  class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                测试计划
                            <span  class="dropdown">
                                <button  style="color: dodgerblue;margin-left: 20px" class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                    {{selectedVersion}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li *ngFor="let v of versions" role="presentation" (click)="selectVersion(v)"><a role="menuitem" tabindex="-1" (click)="selectVersion(v)">{{v}}</a></li>
                                </ul>
                            </span>
                                <span>
                                <a href="#modal_addTestPlan" data-toggle="modal" style="color: dodgerblue;" class="glyphicon glyphicon-plus pull-right"></a>
                            </span>
                            </h2>
                        </div>
                        <div style="overFlow-y:scroll;height: 550px"  class="panel-body">
                            <ul class="list-group">
                                <li *ngFor="let element of testplanList" id ="{{element.name}}" class="list-group-item " (click)="selectTestplan(element)">
                                    <span class="badge">{{element.tag}}</span>
                                    <span style="color: gray;margin-right: 10px" class="glyphicon glyphicon-calendar pull-left"></span>
                                    {{element.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div  class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                用例列表
                                <a href="#modal_addTestSample" data-toggle="modal" style="color: dodgerblue" class="glyphicon glyphicon-plus pull-right"></a>
                            </h3>
                        </div>
                        <div style="overFlow-y:scroll;height: 550px" class="panel-body">
                            <ul class="list-group">
                                <li *ngFor="let element2 of testsampleList" id="sample{{element2.name}}" class="list-group-item" (click)="selectTestsample(element2)">
                                    <span style="color: gray;margin-right: 10px" class="glyphicon glyphicon-calendar pull-left"></span>
                                    {{element2.name}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div style="height: 600px" class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" [ngClass]="{'active': controlNav=='config'}"><a (click)="selectNav('config')">配置运行</a></li>
                                    <li role="presentation" [ngClass]="{'active': controlNav=='edit'}"><a (click)="selectNav('edit')">编辑脚本</a></li>
                                    <li role="presentation" [ngClass]="{'active': controlNav=='history'}"><a (click)="selectNav('history')">查看历史</a></li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="controlNav=='config'">
                                <h3 *ngIf="selectedTestsample">{{selectedTestsample.name}}运行配置</h3>
                                <form class="form-horizontal" role="form">
                                    <div *ngIf="selectedTestsample" class="form-group col-md-offset-1 col-md-10">
                                        <label for="config" class="control-label">运行参数</label>
                                        <input [(ngModel)]="selectedTestsample.config" [ngModelOptions]="{standalone: true}"type="text" class="form-control" id="config" placeholder="monkey">
                                    </div>
                                    <div class="form-group col-md-offset-1 col-md-10">
                                        <label >选择设备</label>
                                        <select class="form-control" id="selectDevice">
                                            <option *ngFor="let item of deviceList" id="item.id">{{item.id}}</option>
                                        </select>

                                    </div>
                                    <div *ngIf="selectedDevice" class="form-group col-md-offset-1 col-md-10">
                                        <label >完整参数(检查)</label>
                                        <h4>adb shell -s {{selectedDevice.id}} monkey {{selectedTestsample.config}}</h4>
                                    </div>
                                    <div class="form-group col-md-offset-1 col-md-10">
                                        <button type="button" class="btn btn-default" (click)="updateTestsample()">
                                            保存
                                        </button>
                                        <button type="button" class="btn btn-primary" (click)="createTestcase()">
                                            运行
                                        </button>
                                        <button type="button" class="btn btn-danger" (click)="deleteTestsample()">
                                            删除
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="controlNav=='edit'">
                                <h3>{{selectedSample}}编辑脚本</h3>
                                <form id="form-edit">
                                    <div class="form-group">
                                        <label for="nameEdit">用例描述</label>
                                        <input type="text" class="form-control" id="nameEdit">
                                    </div>
                                    <div class="form-group">
                                        <label for="actions">动作</label>
                                        <textarea class="form-control" rows="15" id="actions">
                                        </textarea>
                                    </div>
                                </form>
                                <button id="btn-save" class="btn btn-default">保存
                                </button>
                                <button id="btn-confirm" class="btn btn-primary">运行
                                </button>
                            </div>
                            <div *ngIf="controlNav=='history'">
                                <h3>{{selectedSample}}编辑脚本</h3>
                                <form id="form-edit2">
                                    <div class="form-group">
                                        <label for="nameEdit">用例描述</label>
                                        <input type="text" class="form-control" id="nameEdit2">
                                    </div>
                                    <div class="form-group">
                                        <label for="actions2">动作</label>
                                        <textarea class="form-control" rows="15" id="actions2">
                                        </textarea>
                                    </div>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Test Plan-->

    </div>
</div>

<!-- 添加测试计划对话框-->
<div id="modal_addTestPlan" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加测试计划</h4>
            </div>
            <div class="modal-body">
                <form id="addTestPlan" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">
                            测试计划名称
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe">
                            测试计划描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager">
                            测试负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="label">
                            测试计划标签
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.tag" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="label" placeholder="Monkey ; DFS ; 进化算法">
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTestplan()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- 添加用例列表对话框-->
<div id="modal_addTestSample" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加测试用例</h4>
            </div>
            <div class="modal-body">
                <form id="addSample" class="form-horizontal">
                    <div class="form-group">
                        <label for="name2" class="col-sm-3 control-label">
                            测试计划名称
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestsample.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="name2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe2">
                            测试计划描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestsample.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager2">
                            测试负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestsample.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager2">
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTestsample()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--删除项目对话框-->
<div id="modal_del_project" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 id="myModalLabel">删除项目</h3>
            </div>
            <div class="modal-body">
                <p>确认删除项目？</p>
                <p>删除设备将从数据库移除有关该项目的信息</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button data-dismiss="modal" class="btn btn-danger" id="btnYes_apk" (click)="deleteProject()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--更新项目对话框-->
<div *ngIf="project" id="modal_update_project" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">更新项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            项目名称
                        </label>
                        <div class="col-sm-9">
                            {{projectName}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe_u">
                            项目描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="project.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe_u">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager_u">
                            负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="project.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager_u">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProject()">更新</button>
            </div>
        </div>
    </div>
</div>
