<div id="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class = "panel panel-default panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">项目列表</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="thumbnail">
                                <a href="#modal_createProject" data-toggle="modal">
                                    <img src="/images/project-default.png" alt="default.png" style="height: 150px;width: 500px;">
                                </a>
                            </div>
                        </div>
                        <div *ngFor="let element of p">
                            <div class="col-md-4" (click)="gotoProjectDetail('知乎')">
                                <div class="thumbnail">
                                    <!--<img src="/images/zhihu.png" alt="logo" style="height: 150px;width: 500px;">-->
                                    <img src="http://localhost:8080/upload/hello3" alt="logo" style="height: 150px;width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 添加新项目对话框-->
<div id="modal_createProject" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">新建项目</h4>
            </div>
            <div class="modal-body">
                <form id="addTestPlan" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">
                            项目名称
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createProject.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe">
                            项目描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createProject.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager">
                            负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createProject.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="image">
                            上传封面
                        </label>
                        <div class="col-sm-9">
                            <input type="file" ng2FileSelect [uploader]="uploader" id="image"/>
                            <button type="button" class="btn btn-success btn-s"
                                    (click)="upload()" [disabled]="!uploader.getNotUploadedItems().length">
                                <span class="glyphicon glyphicon-upload"></span> 上传
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="upload()">立即创建</button>
            </div>
        </div>
    </div>
</div>