<div id="project-manager" style="height:1000px;background: url(/images/backgroud.jpg);background-size: cover">
    <div class="container-fluid">

        <!--项目头部-->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class = "panel panel-default ">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{projectName}}
                            <span style="margin-left: 40px" class="btn-group">
                                <button type="button" class="btn btn-default" (click)="selectPage('page1')">
                                    <span class="glyphicon glyphicon-time"></span>
                                    测试计划
                                </button>
                                <button type="button" class="btn btn-default"  (click)="selectPage('page2')">
                                    <span class="glyphicon glyphicon-open"></span>
                                    Apk管理
                                </button>
                            </span>
                            <span>
                                <button href="#modal_del_project" data-toggle="modal" type="button" class="btn btn-danger pull-right">
                                    <span class="glyphicon glyphicon-exclamation-sign"></span>
                                    删除项目
                                </button>
                                <button href="#modal_update_project" data-toggle="modal" type="button" class="btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    项目设置
                                </button>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>
        <!--项目头部-->

        <!-- Apk Manager-->
        <div *ngIf="pageSelect=== 'page2'" class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class = "panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Apk列表
                            <span style="color: dodgerblue" class = "glyphicon glyphicon-plus pull-right" href="#modal_addApkVersion" data-toggle="modal"></span></h2>

                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>
                                项目名称
                            </th>
                            <th>
                                版本
                            </th>
                            <th>
                                描述
                            </th>
                            <th>
                                包名
                            </th>
                            <th>
                                Activity
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let element of versionList">
                        <tr>
                            <th>
                                {{element.name}}
                            </th>
                            <th style="color: dodgerblue">
                                <button>{{element.version}}</button>
                            </th>
                            <th>
                                {{element.describe}}
                            </th>
                            <th>
                                {{element.package}}
                            </th>
                            <th>
                                {{element.activity}}
                            </th>
                            <th>
                                <span style="color: red" class="btn btn-default" (click)="deleteApk(element)">删除</span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- Apk Manager>

        <!-- Test Plan-->
        <div *ngIf="pageSelect=== 'page1'" class="row">
            <!--<div class="col-md-offset-1 col-md-10">-->

                <!--测试计划-->
                <div  class="col-md-offset-1 col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h2 class="panel-title">
                                测试版本
                            <span  class="dropdown">
                                <button  *ngIf="selectedVersion" style="color: dodgerblue;" class="dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown">
                                    {{selectedVersion.version}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                                    <li *ngFor="let element of versionList" role="presentation" (click)="selectVersion(element)">
                                        <a role="menuitem" tabindex="-1" (click)="selectVersion(element)">{{element.version}}</a>
                                    </li>
                                </ul>
                            </span>
                                <span>
                                <a href="#modal_addTestPlan" data-toggle="modal" style="color: dodgerblue;" class="glyphicon glyphicon-plus pull-right"></a>
                            </span>
                            </h2>
                        </div>
                        <div style="overFlow-y:scroll;height: 555px"  class="panel-body">
                            <ul *ngIf="selectedVersion" class="list-group">
                                <li *ngFor="let element of testplanList" id ="{{element.name}}" class="list-group-item " (click)="selectTestplan(element)">
                                    <span class="badge" (click)="deleteTestplan(element)">删除</span>
                                    <span class="badge">{{element.tag}}</span>
                                    <span style="color: gray;margin-right: 10px" class="glyphicon glyphicon-calendar pull-left"></span>
                                    {{element.name}}

                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <!--测试用例-->
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                用例列表
                                <a href="#modal_addTestSample" data-toggle="modal" style="color: dodgerblue" class="glyphicon glyphicon-plus pull-right"></a>
                            </h3>
                        </div>
                        <div style="overFlow-y:scroll;height: 560px" class="panel-body">

                            <table style="font-family:Lato;font-size: 14px" class="table table-hover">
                                <thead>
                                <tr>
                                    <th>
                                        名称
                                    </th>
                                    <th>
                                        负责人
                                    </th>
                                    <th>
                                        描述
                                    </th>
                                    <th>
                                        操作
                                    </th>
                                </tr>
                                </thead>
                                <tbody *ngFor="let element of testsampleList">
                                <tr>
                                    <th>
                                        {{element.name}}
                                    </th>
                                    <th>
                                        {{element.manager}}
                                    </th>
                                    <th>
                                        {{element.describe}}
                                    </th>
                                    <th>
                                        <button type="button" class="btn btn-xs btn-danger" (click)="deleteTestsample(element)">删除用例</button>
                                        <button type="button" class="btn btn-xs btn-info" (click)="gotoTestsample(element)" >查看详细</button>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                <!--</div>-->


            </div>
        </div>
        <!-- Test Plan-->

    </div>
</div>

<!-- 添加测试计划对话框-->
<div id="modal_addTestPlan" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加测试计划</h4>
            </div>
            <div class="modal-body">
                <form id="addTestPlan" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">
                            测试计划名称
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe">
                            测试计划描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager">
                            测试负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestplan.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            测试计划标签
                        </label>
                        <div class="col-sm-9">
                            <!--<input [(ngModel)]="createTestplan.tag" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="label" placeholder="Monkey ; DFS ; 进化算法">-->
                            <select class="form-control" id="selectTestTag">
                                <option *ngFor="let item of testTagList">{{item}}</option>
                            </select>
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTestplan()">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- 添加用例列表对话框-->
<div id="modal_addTestSample" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加测试用例</h4>
            </div>
            <div class="modal-body">
                <form id="addSample" class="form-horizontal">
                    <div class="form-group">
                        <label for="name2" class="col-sm-3 control-label">
                            测试用例名称
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestsample.name" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="name2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe2">
                            测试用例描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestsample.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager2">
                            测试负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createTestsample.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager2">
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addTestsample()">确定</button>
            </div>
        </div>
    </div>
</div>

<!--删除项目对话框-->
<div id="modal_del_project" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h3 id="myModalLabel">删除项目</h3>
            </div>
            <div class="modal-body">
                <p>确认删除项目？</p>
                <p>删除设备将从数据库移除有关该项目的信息</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button data-dismiss="modal" class="btn btn-danger" id="btnYes_apk" (click)="deleteProject()">确认</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!--更新项目对话框-->
<div *ngIf="project" id="modal_update_project" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">更新项目</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">
                            项目名称
                        </label>
                        <div class="col-sm-9">
                            {{projectName}}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe_u">
                            项目描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="project.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control"  id="describe_u">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager_u">
                            负责人员
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="project.manager" [ngModelOptions]="{standalone: true}" type="text" class="form-control" id="manager_u">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateProject()">更新</button>
            </div>
        </div>
    </div>
</div>

<!-- 添加某个版本Apk对话框-->
<div id="modal_addApkVersion" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加{{projectName}}Apk版本</h4>
            </div>
            <div class="modal-body">
                <form id="addApkVersion" class="form-horizontal">
                    <div class="form-group">
                        <label for="name2" class="col-sm-3 control-label">
                            版本号
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createVersion.version" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe2">
                            版本描述
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createVersion.describe" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager2">
                            包名Package
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createVersion.package" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager2">
                            MainActivity
                        </label>
                        <div class="col-sm-9">
                            <input [(ngModel)]="createVersion.activity" [ngModelOptions]="{standalone: true}" type="text" class="form-control">
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addApkVersion()">确定</button>
            </div>
        </div>
    </div>
</div>