<div id="projects">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class = "panel panel-default panel-primary">
                    <div class="panel-heading">
                        <h2 class="panel-title">项目列表</h2>
                    </div>
                    <div class="panel-body">
                        <div class="col-md-4">
                            <div class="thumbnail" (click)="createProject()">
                                <img src="/images/project-default.png" alt="default.png" style="height: 150px;width: 500px;">
                            </div>
                        </div>
                        <div *ngFor="let element of p">
                            <div class="col-md-4" (click)="gotoProjectDetail('知乎')">
                                <div class="thumbnail">
                                    <img src="/images/zhihu.png" alt="logo" style="height: 150px;width: 500px;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>