<div id="project-manager">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-9">
                <div class = "panel panel-default ">
                    <div class="panel-heading">
                        <h2 class="panel-title">{{name}}
                            <span style="margin-left: 20px" class="dropdown">
                                <button  style="color: dodgerblue" class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown">
                                    {{version}}
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                                    <li *ngFor="let v of versions" role="presentation" (click)="selectVersion(v)"><a role="menuitem" tabindex="-1" (click)="selectVersion(v)">{{v}}</a></li>
                                </ul>
                            </span>
                            <span style="margin-left: 40px" class="btn-group">
                                <button type="button" class="btn btn-default" (click)="displayTestPlan()">
                                    <span class="glyphicon glyphicon-time"></span>
                                    测试计划
                                </button>
                                <button type="button" class="btn btn-default"  (click)="displayApkManager()">
                                    <span class="glyphicon glyphicon-open"></span>
                                    Apk管理
                                </button>

                            </span>
                            <span>
                                <button type="button" class="btn btn-default pull-right">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    项目设置
                                </button>
                            </span>
                        </h2>
                    </div>
                </div>
            </div>
        </div>

        <!-- Apk Manager-->
        <div *ngIf="!testplan" class="row">
            <div class="col-md-offset-1 col-md-9">
                <div class = "panel panel-default">
                    <div class="panel-heading">
                        <h2 class="panel-title">Apk列表</h2>
                    </div>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th style="margin-left: 30px">
                                日期
                            </th>
                            <th>
                                项目名称
                            </th>
                            <th>
                                版本
                            </th>
                            <th>
                                描述
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                        </thead>
                        <tbody *ngFor="let element of versionDisplay">
                        <tr>
                            <th style="margin-left: 30px">
                                2016-1-3
                            </th>
                            <th>
                                知乎
                            </th>
                            <th style="color: dodgerblue">
                                <button>{{element}}</button>
                            </th>
                            <th>
                                {{element}}
                            </th>
                            <th>
                                <span style="color: dodgerblue" class="btn btn-default">下载</span>
                                <span style="color: red" class="btn btn-default">删除</span>
                            </th>
                        </tr>
                        </tbody>
                    </table>
                    <nav>
                        <ul class="pagination">
                            <li><a (click)="prePage()">&laquo;</a></li>
                            <li><a (click)="getVersions(startPage+1)">{{startPage+1}}</a></li>
                            <li><a (click)="getVersions(startPage+2)">{{startPage+2}}</a></li>
                            <li><a (click)="getVersions(startPage+3)">{{startPage+3}}</a></li>
                            <li><a (click)="getVersions(startPage+4)">{{startPage+4}}</a></li>
                            <li><a (click)="getVersions(startPage+5)">{{startPage+5}}</a></li>
                            <li><a (click)="nextPage()">&raquo;</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- Apk Manager>

        <!-- Test Plan-->
        <div *ngIf="testplan" class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="row">
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                测试计划
                                <a href="#modal_addTestPlan" data-toggle="modal" style="color: dodgerblue" class="glyphicon glyphicon-plus pull-right"></a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li *ngFor="let testPlan of testPlanList" id = {{testPlan}} class="list-group-item " (click)="selectTestplan(testPlan)">
                                    <span class="badge">{{testPlan}}</span>
                                    <span style="color: gray;margin-right: 10px" class="glyphicon glyphicon-calendar pull-left"></span>
                                    {{testPlan}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                用例列表
                                <a href="#modal_addTestSample" data-toggle="modal" style="color: dodgerblue" class="glyphicon glyphicon-plus pull-right"></a>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <ul class="list-group">
                                <li *ngFor="let sample of sampleList" id={{sample}} class="list-group-item" (click)="selectSample(sample)">
                                    <span style="color: gray;margin-right: 10px" class="glyphicon glyphicon-calendar pull-left"></span>
                                    {{selectedPlan}}{{sample}}
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">
                                <ul class="nav nav-pills" role="tablist">
                                    <li role="presentation" [ngClass]="{'active': editConfig}"><a (click)="selectActive(true)">配置运行</a></li>
                                    <li role="presentation" [ngClass]="{'active': !editConfig}"><a (click)="selectActive(false)">编辑脚本</a></li>
                                </ul>
                            </h3>
                        </div>
                        <div class="panel-body">
                            <div *ngIf="editConfig">
                                <h3>{{selectedSample}}运行配置</h3>
                                <form class="form-horizontal" role="form">
                                    <div class="form-group col-md-offset-1 col-md-10">
                                        <label for="config" class="control-label">运行参数</label>
                                        <input type="text" class="form-control" id="config" placeholder="monkey">
                                    </div>
                                    <div class="form-group col-md-offset-1 col-md-10">
                                        <label >运行参数</label>
                                        <select class="form-control">
                                            <option>三星</option>
                                            <option>华为</option>
                                            <option>中兴</option>
                                            <option>小米</option>
                                            <option>iPhone</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-offset-1 col-md-10">
                                        <button type="button" class="btn btn-default">
                                            取消
                                        </button>
                                        <button type="button" class="btn btn-primary">
                                            确定
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div *ngIf="!editConfig">
                                <h3>{{selectedSample}}编辑脚本</h3>
                                <form id="form-edit">
                                    <div class="form-group">
                                        <label for="nameEdit">用例描述</label>
                                        <input type="text" class="form-control" id="nameEdit">
                                    </div>
                                    <div class="form-group">
                                        <label for="actions">动作</label>
                                        <textarea class="form-control" rows="15" id="actions">
                                        </textarea>
                                    </div>

                                </form>
                                <button id="btn-save" class="btn btn-default">保存
                                </button>
                                <button id="btn-confirm" class="btn btn-primary">运行
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
        <!-- Test Plan-->

    </div>
</div>

<!-- 添加测试计划对话框-->
<div id="modal_addTestPlan" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加测试计划</h4>
            </div>
            <div class="modal-body">
                <form id="addTestPlan" class="form-horizontal">
                    <div class="form-group">
                        <label for="name" class="col-sm-3 control-label">
                            测试计划名称
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe">
                            测试计划描述
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  id="describe">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager">
                            测试负责人员
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="manager">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="label">
                            测试计划标签
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="label" placeholder="Monkey ; DFS ; 进化算法">
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>

<!-- 添加用例列表对话框-->
<div id="modal_addTestSample" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">添加测试用例</h4>
            </div>
            <div class="modal-body">
                <form id="addSample" class="form-horizontal">
                    <div class="form-group">
                        <label for="name2" class="col-sm-3 control-label">
                            测试计划名称
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="name2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="describe2">
                            测试计划描述
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control"  id="describe2">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label" for="manager2">
                            测试负责人员
                        </label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="manager2">
                        </div>
                    </div>
                    <hr align=right width=500 color=#987cb9 size=1>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">确定</button>
            </div>
        </div>
    </div>
</div>

