<div id="runner-list">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="panel-title">
                            运行列表
                            <button style="margin-left: 60%;width: 50px" type="button" class="btn btn-success">R</button>
                            Running
                            <button style="width: 50px" type="button" class="btn btn-Warning">S</button>
                            Stop
                        </div>
                    </div>
                    <div class="panel-body">

                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>
                                    状态
                                </th>
                                <th>
                                    日期
                                </th>
                                <th>
                                    测试项目
                                </th>
                                <th>
                                    测试计划
                                </th>
                                <th>
                                    设备Id
                                </th>
                                <th>
                                    操作
                                </th>
                            </tr>
                            </thead>
                            <tbody *ngFor="let element of testrunnerList">
                            <tr>
                                <th>
                                    <div *ngIf="element.state=='stop'">
                                        <button type="button" class="btn btn-Warning">S</button>
                                    </div>
                                    <div *ngIf="element.state=='running'">
                                        <button type="button" class="btn btn-success">R</button>
                                    </div>
                                </th>
                                <th>
                                    {{transDate(element.create_at)}}
                                </th>
                                <th>
                                    {{element.project}}
                                </th>
                                <th>
                                    {{element.testplan}}
                                </th>
                                <th>
                                    <span class="label label-info">{{element.deviceId}}</span>
                                </th>
                                <th>
                                    <div *ngIf="element.state=='stop'">
                                        <button type="button" class="btn btn-info" (click)="gotoResult(element)">结果</button>

                                        <button href="#modal_delete" data-toggle="modal" type="button" class="btn btn-danger" (click)="deleteTest()">
                                            删除
                                        </button>

                                    </div>
                                    <div *ngIf="element.state=='running'">
                                        <button type="button" class="btn btn-info" (click)="gotoDetail(element)">查看运行</button>
                                        <button type="button" class="btn btn-warning">停止</button>
                                    </div>
                                </th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!--删除按钮-->
<div id="modal_delete" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4>删除</h4>
            </div>
            <div class="modal-body">
                <p>
                    <span class="btn btn-lg">
                        <span id="changeDisplay" class="glyphicon glyphicon-warning-sign"></span>
                    </span>
                    此操作将永久删除该测试运行，是否继续？
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteTest()">确定</button>
            </div>
        </div>
    </div>
</div>