<div id="runner">
    <!--设备屏幕-->
    <div style="width: 390px; float: left;">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">设备屏幕 360 x 640
                    <span id="refresh" class="text-danger ion-android-cancel pull-right" (click)="refresh()" > 刷新 </span>
                </h3>
            </div>
            <div class="panel-body" id="container">
                <canvas id="canvas-device" width="360" height="640"></canvas>
            </div>
        </div>
    </div>

    <!--控制台-->
    <div style="margin-left: 380px" class="container-fluid">
        <div class="row">
            <div class="col-md-10">
                <!--控制台面板-->
                <div style="border-color: #d4d4d4" class="panel">
                    <div class="panel-heading">
                        <h3 style="margin-left: 30px" class="panel-title">控制台</h3>
                    </div>
                    <div class="panel-body">
                        <div style="margin-left: 30px" class="btn-group">
                            <button style="width: 100px" type="button" class="btn btn-primary" >
                                唤醒
                            </button>
                            <button style="width: 100px" type="button" class="btn btn-info" >
                                暂停
                            </button>
                            <button style="width: 100px" type="button" class="btn btn-danger" >
                                取消
                            </button>
                            <button style="width: 100px" type="button" class="btn btn-default" >
                                重新运行
                            </button>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">运行过程</h3>
                    </div>
                    <div id="result" style="overFlow-y:scroll;width:100%;height: 560px" class="panel-body">
                        <div class="table-wrapper ">
                            <table class="table" id="table_result">
                                <tbody *ngFor="let element of resultMonkey">
                                    <tr>
                                        {{element}}
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <!--<div *ngFor="let element of resultMonkey">-->
                            <!--<p>{{element}}</p>-->
                        <!--</div>-->
                    </div>
                </div>

            </div>
        </div>


    <!--<div class="container-fluid">-->
        <div class="row">
            <!--运行日志-->
            <div class="col-md-4">

            </div>
            <!-- 控制台-->

        </div>
    <!--</div>-->
    </div>
</div>